@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
}

body {
  font-family: 'Inter', sans-serif;
}

.header__links li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.hero__heading {
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: #F73D27;  
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.menu-item__caption {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.app__header {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-transform: capitalize;
  color: #F73D27;
}

.about__heading {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}

.about__text {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #000000;
}

.button_about {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.contacts {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.footer__item-heading {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__item-ul li a {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #D9DBE1;
}

.footer__form label {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__form input {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
}

.copyright {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
}

.footer__bottom-links li a {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
}